<div class="insightbox">
    <a href="{{ article.url|url }}" class="heading">
        {% if article.file.page.meta.featuredimage %}
        <img src="{{ article.file.page.meta.featuredimage }}" alt="" />
        {% else %}
        <img src="{{ images[article_index % images|length] }}" alt="" />
        {% endif %}
        <h1>{{ article.file.page.title }}</h1>
    </a>
    <hr>
    <p>{{ article.file.page.content|striptags|truncate }}</p>
    <a href="{{ article.url|url }}" class="btn bg-governance color-white end-btn">Read</a>
</div>