<footer class="">
    <div class="container grid">
        <div class="column-span-4">
            <img src="/static/images/Footer_CharizoneLogo.svg" />
            <nav class="social">
                <ul>
                    {% if config.extra.twitter %}
                    <li>
                        <a href="{{ config.extra.twitter }}" target="_blank"><img src="/static/images/Footer_Twitter.svg" /></a>
                    </li>
                    {% endif %}
                    {% if config.extra.linkedin %}
                    <li>
                        <a href="{{ config.extra.linkedin }}" target="_blank"><img src="/static/images/Footer_LinkedIn.svg" /></a>
                    </li>
                    {% endif %}
                    {% if config.extra.instagram %}
                    <li>
                        <a href="{{ config.extra.instagram }}" target="_blank"><img src="/static/images/Footer_Instagram.svg" /></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="column-span-3">
            <p>Charizone Ltd</a></p>
            <p>Your due diligence guide for charities</p>
            <p class="mt4">&copy; 2022 Charizone Ltd</p>
            <p>All rights reserved</p>
            {% if privacy %}
            <p class="mt4"><a href="{{ privacy.url|url }}">Privacy and cookie policy</a></p>
            {% endif %}
        </div>
        <div class="column-span-4 column-offset-9">
            <p>
                Registered in England no.
                <a href="https://find-and-update.company-information.service.gov.uk/company/13788801" class="normal">
                   13788801
                </a>
            </p>
            <p>128 City Road</p>
            <p>London, EC1V 2NX</p>
            {# <p>Phone number goes here</p> #}
            <p class="mt4"><a href="mailto:hello@charizone.co.uk">hello@charizone.co.uk</a></p>
        </div>
        <div class="column-span-8 column-offset-5">
            <nav>
                <ul>
                    {% for nav_item in footernav %}
                    <li><a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</footer>