<footer class="bg-grey">
    <div class="flex-row">
        {% include 'components/email-signup.html' %}
    </div>
    <hr>
    <div class="flex-row">
        <a href="/">
            <img src="/static/images/logo/charizone-icon.svg" class="icon" role="presentation" alt="">
        </a>
        <nav class="navbar">
            <ul>
                {% for nav_item in footernav %}
                <li><a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a></li>
                {% endfor %}
                <li>
                    <a class="btn med bg-navy colour-complement" href="https://atlas.charizone.co.uk/">
                        Login
                    </a>
                </li>
                <li>
                    <a class="btn med bg-pink colour-complement appointment-booker">
                        Book free trial
                        <span class="icon material-icons circle bg-white colour-pink">arrow_forward</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="flex-row">
        <span>
            &copy; 2020 - {{ build_date_utc.year }} Charizone Ltd. All rights reserved.<br>
            Registered in England number:
            <a href="https://find-and-update.company-information.service.gov.uk/company/13788801" class="normal">
                13788801</a>. 128 City Road, London, EC1V 2NX
        </span>
        <nav class="navbar">
            <ul>
                {% if privacy %}
                <li>
                    <a href="{{ privacy.url|url }}">Privacy and 'cookie-free' policy</a>
                </li>
                {% endif %}
                {% if terms %}
                <li>
                    <a href="{{ terms.url|url }}">Terms and Conditions</a>
                </li>
                {% endif %}
                {% if config.extra.linkedin %}
                <li>
                    <a href="{{ config.extra.linkedin }}" class="btn med bg-navy colour-complement icon circle"
                        target="_blank">
                        <img src="/static/images/social/linkedin-outline.svg" alt="LinkedIn" /></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</footer>