<section class="getintouch bg-finance" id="getintouch">
    <div class="container grid">
        <div class="column-span-4">
            <h1>Get in touch</h1>
            <p>
                Get in touch with the Charizone team here. We endeavour to respond within 48 hours.
            </p>
        </div>
        <div class="column-span-7 column-offset-6">
            <form name="getintouch" data-netlify=true>
                <input type="text" name="name" class="w-50 fl" required placeholder="Name" aria-label="Name">
                <input type="email" name="email" class="w-50 fl" required placeholder="Email" aria-label="Email">
                <input type="text" name="organisation" class="w-50 fl" placeholder="Organisation" aria-label="Organisation">
                <input type="text" name="phone" class="w-50 fl" placeholder="Phone number" aria-label="Phone number">
                <textarea required name="message" placeholder="Tell us how we can help" aria-label="Tell us how we can help"></textarea>
                <div class="submit">
                    <button type="submit" class="btn bg-coral color-white">Get in touch</button>
                </div>
            </form>
        </div>
    </div>
</section>