<section class="hero bg-light-blue">
    <div class="container grid">
        <div class="column-span-5">
            <h1>We're here to transform the charitable sector.</h1>
            <p>
                Keeping philanthropists informed.<br>
                Empowering charities to achieve more.<br>
                Working towards a better world.
            </p>
            {% include 'components/email-signup.html' %}
        </div>
        <div class="column-span-5 column-offset-8 image-holder">
            <img src="/static/images/Home_DonutGraphic.png" alt="">
        </div>
    </div>
</section>