<section class="hero bg-light-grey">
    <div class="container grid">
        <div class="column-span-5">
            <h1>We use data to inspire <span class="color-coral">responsible</span> donations</h1>
            <p>
                Informing philanthropic decisions.<br>
                Encouraging charities to achieve more.<br>
                Working towards a better world.
            </p>
            {% include 'components/email-signup.html' %}
        </div>
        <div class="column-span-5 column-offset-8 image-holder">
            <img src="/static/images/Home_DonutGraphic.png" alt="">
        </div>
    </div>
</section>