<section class="hero bg-light-grey">
    <div class="container grid">
        <div class="column-span-5">
            <h1>We use data to inspire <span class="color-coral">responsible</span> donors</h1>
            <p>
                Informing philanthropic decisions.<br>
                Encouraging charities to achieve more.<br>
                Working towards a better world.
            </p>
            {% include 'components/email-signup.html' %}
        </div>
        <div class="column-span-5 column-offset-8 image-holder hide-mobile">
            <img src="/static/images/Home_DonutGraphic.png" alt="A chart showing the three stages of the Charizone process: We collate, assess and present charity information into one insightful report; empowering you to take your next steps with confidence and enabling you to become a responsible and engaged donor.">
        </div>
    </div>
</section>