<header class="container grid topbar">
    <div class="column-span-2">
        <button class="hamburger" aria-expanded="false" aria-controls="main-menu"></button>
        <a class="logo" href="/">
            <img src="/static/images/Menu_CharizoneLogo.svg" alt="Charizone">
        </a>
    </div>
    <nav class="column-span-10" role="navigation" aria-label="Main menu">
        {% if nav|length>1 %}
        <ul id="main-menu">
            {% for nav_item in nav %}
            {% if not nav_item.is_homepage %}
            <li class="{% if nav_item.active%}active{% endif %}">
                <a href="{{ nav_item.url|url }}" class="{% if loop.last %}btn bg-coral color-white{% endif %}">{{ nav_item.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </nav>
</header>