<header class="container grid topbar">
    <a class="logo column-span-2" href="/">
        <img src="/static/images/Menu_CharizoneLogo.svg" alt="Charizone">
    </a>
    <nav class="column-span-10">
        {% if nav|length>1 %}
        <ul>
            {% for nav_item in nav %}
            {% if not nav_item.is_homepage %}
            <li class="{% if nav_item.active%}active{% endif %}">
                <a href="{{ nav_item.url|url }}" class="{% if loop.last %}btn bg-coral color-white{% endif %}">{{ nav_item.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </nav>
</header>