<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ '/static/css/style.css'|url }}" crossorigin="anonymous">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
  </head>
  <body>
    {% include 'components/topbar.html' %}
    {% block content %}
      {{ page.content }}
    {% endblock %}
    {% block prefooter %}
    {% include 'components/getintouch.html' %}
    {% endblock %}
    {% include 'components/footer.html' %}
    {% include 'components/analytics.html' %}
  </body>
</html>