{% extends "_base.html" %}

{% block content %}
<section class="gradient-primary-45 colour-white">
    <div class=" bg-circles">
        <div class="container header left">
            <p>Hi, we’re Charizone</p>
            <h2>
                We help organisations and individuals to
                <span class="colour-yellow">scale their impact</span>,
                and give with even more confidence.
            </h2>
            <p>By making charitable research better, easier, quicker and more accessible.</p>
        </div>
    </div>
</section>
<section>
    <div class="container grid">
        <h2 class="col-span-3">Our journey so far</h2>
        <p class="col-span-2">
            From our humble beginnings in 2020, to all the users benefitting from our platform today.
        </p>
        <div class="col-span-1">
            <a class="btn med bg-pink colour-complement">
                Read how we met
                <span class="icon material-icons">arrow_forward</span>
            </a>
        </div>
        <div class="col-span-1 flex-column">
            <h3 class="f1">The problem</h3>
            <p>
                Use our search platform to easily compare, analyse and
                navigate over 177,000 UK charities. Access 100+ data points
                pulled from the most reliable sources used in the sector.
            </p>
            <p>
                Uncover new charities and causes while waving goodbye
                to manual spreadsheets and Google searches.
            </p>
        </div>
        <div class="col-span-1 flex-column">
            <h3 class="f1">The solution</h3>
            <p>
                Use our search platform to easily compare, analyse and
                navigate over 177,000 UK charities. Access 100+ data points
                pulled from the most reliable sources used in the sector.
            </p>
            <p>
                Uncover new charities and causes while waving goodbye
                to manual spreadsheets and Google searches.
            </p>
        </div>
        <div class="col-span-1 flex-column">
            <h3 class="f1">The team</h3>
            <p>
                Use our search platform to easily compare, analyse and
                navigate over 177,000 UK charities. Access 100+ data points
                pulled from the most reliable sources used in the sector.
            </p>
            <p>
                Uncover new charities and causes while waving goodbye
                to manual spreadsheets and Google searches.
            </p>
        </div>
    </div>
</section>
<section class="bg-swoosh">
    <div class="container">
        <h2>Who we help</h2>
        <p>
            We work with the philanthropic community to address the challenge of selecting and engaging
            with the right charities. While also supporting charities to deliver lasting impact.
        </p>
        <a class="btn med bg-purple colour-complement">
            See it in action
            <span class="icon material-icons">arrow_forward</span>
        </a>
        <div class="box-grid">
            <div class="box shadow bg-white">
                <img src="/static/images/icons/uncover.svg" class="icon">
                <h3>Organisations</h3>
                <p>
                    Not sure what to look out for when it comes to choosing financially sustainable charities? We’ve
                    done the hard work for you.
                </p>
            </div>
            <div class="box shadow bg-white">
                <img src="/static/images/icons/robust.svg" class="icon">
                <h3>Philanthropic advisors</h3>
                <p>
                    Not sure what to look out for when it comes to choosing financially sustainable charities?
                    We’ve done the hard work for you.
                </p>
            </div>
            <div class="box shadow bg-white">
                <img src="/static/images/icons/save-time.svg" class="icon">
                <h3>Charities</h3>
                <p>
                    Charizone automatically collects hundreds of data points from
                    all of the most-used charity data sources. That’s time saved already.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container border-bottom b--jordan">
        <h2>Meet the team</h2>
        <p>
            We work with the philanthropic community to address the challenge of selecting and engaging
            with the right charities. While also supporting charities to deliver lasting impact.
        </p>
        <a class="btn med bg-purple colour-complement">
            See it in action
            <span class="icon material-icons">arrow_forward</span>
        </a>
        <div class="box person border-top b--jordan">
            <img src="/static/images/Sarah_Square.png" alt="">
            <header>
                <a class="btn med bg-navy colour-complement icon circle" href="#">
                    <img src="/static/images/social/linkedin-outline.svg">
                </a>
                <h3>Sarah G</h3>
                <p>Founder &amp; CEO</p>
            </header>
            <ul class="accordian border-bottom b--black-05">
                <li class="border-top b--black-05">
                    <details>
                        <summary>Which data sources does Charizone use?</summary>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                    </details>
                </li>
                <li class="border-top b--black-05">
                    <details open="">
                        <summary>Which data sources does Charizone use?</summary>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                    </details>
                </li>
                <li class="border-top b--black-05">
                    <details>
                        <summary>Which data sources does Charizone use?</summary>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                    </details>
                </li>
                <li class="border-top b--black-05">
                    <details>
                        <summary>Which data sources does Charizone use?</summary>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                    </details>
                </li>
            </ul>
        </div>
        <div class="box person border-top b--jordan">
            <img src="/static/images/Sarah_Square.png" alt="">
            <header>
                <a class="btn med bg-navy colour-complement icon circle" href="#">
                    <img src="/static/images/social/linkedin-outline.svg">
                </a>
                <h3>Sarah G</h3>
                <p>Founder &amp; CEO</p>
            </header>
            <ul class="accordian border-bottom b--black-05">
                <li class="border-top b--black-05">
                    <details>
                        <summary>Which data sources does Charizone use?</summary>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                    </details>
                </li>
                <li class="border-top b--black-05">
                    <details open="">
                        <summary>Which data sources does Charizone use?</summary>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                    </details>
                </li>
                <li class="border-top b--black-05">
                    <details>
                        <summary>Which data sources does Charizone use?</summary>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                    </details>
                </li>
                <li class="border-top b--black-05">
                    <details>
                        <summary>Which data sources does Charizone use?</summary>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                    </details>
                </li>
            </ul>
        </div>
        <div class="box person border-top b--jordan">
            <img src="/static/images/Sarah_Square.png" alt="">
            <header>
                <a class="btn med bg-navy colour-complement icon circle" href="#">
                    <img src="/static/images/social/linkedin-outline.svg">
                </a>
                <h3>Sarah G</h3>
                <p>Founder &amp; CEO</p>
            </header>
            <ul class="accordian border-bottom b--black-05">
                <li class="border-top b--black-05">
                    <details>
                        <summary>Which data sources does Charizone use?</summary>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                    </details>
                </li>
                <li class="border-top b--black-05">
                    <details open="">
                        <summary>Which data sources does Charizone use?</summary>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                    </details>
                </li>
                <li class="border-top b--black-05">
                    <details>
                        <summary>Which data sources does Charizone use?</summary>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                    </details>
                </li>
                <li class="border-top b--black-05">
                    <details>
                        <summary>Which data sources does Charizone use?</summary>
                        <p>
                            Individuals in the UK give more than £10 billion every year and yet
                            there are surprisingly few resources out there to support us in our
                            philanthropic giving. Charizone is here to change that.
                        </p>
                    </details>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="bg-white colour-complement bg-brain top" style="--mask-colour: var(--colour-navy);">
    <div class="container hero colour-white big-margin">
        <h1 class="">What’s next?</h1>
        <p>
            Even more insights, even more comprehensive frameworks, and even more features.
            All so you can give with even more confidence. We’re four years in and just at
            the beginning of our journey... and we can’t wait for you to join 🚀
        </p>
        <a class="btn med bg-purple colour-complement">
            See it in action
            <span class="icon material-icons">arrow_forward</span>
        </a>
    </div>
</section>
{% endblock %}