{% extends "_base.html" %}

{% block content %}
<header class="hero about">
    <div class="container grid">
        <div class="column-span-5 column-offset-2">
            <h1>This is our team,<br>This is our mission,<br><span class="color-governance">This is our story</span></h1>
        </div>
    </div>
</header>
<section class="container ">
    <div class="grid">
        <div class="column-span-5 column-offset-1">
            <div style="display: flex; justify-content: space-around; align-items: center;" class="mb3">
                <i style="order: 2;">Sarah Gammoh</i>
                <img src="/static/images/Sarah_Circle.png" style="" alt="">
            </div>
            <div style="display: flex; justify-content: space-around; align-items: center;" class="mb3">
                <i style="">David Kane</i>
                <img src="/static/images/David_Circle.png" style="" alt="">
            </div>
        </div>
        <div class="column-span-6 column-offset-7">
            <h2>Why we started Charizone</h2>
            <p> - Sarah Gammoh, Charizone Founder</p>
            <p>
               The idea for Charizone came out of a long frustration about my own charitable giving.
               I have always donated to charities but had become increasingly discouraged by the scarcity 
               of information and tools that existed to help me navigate these important decisions. 
            </p>
            <p>
               The ability to undertake diligent research to find the 'right charity' is dependent on the 
               availability of useful and reliable data in the public domain. It is not too hard to prove 
               that information regarding a charity's effectiveness and sustainability is not readily 
               available; often either hidden within many pages of a glossy report or too difficult to access.
                In fact, such evidence is often too expensive for charities themselves to produce and too 
                complex to understand.
            </p>
            <p>
                With a background in environmental, social and governance (ESG) reporting in the corporate sector, 
                I asked myself: could we apply the data analysis methods used in the ESG world to help gain an
                 understanding of a charity's performance? What answers would reassure us that we are supporting 
                 a "good" charity that aligns with our values? Would an ESG type framework be helpful to the charities
                 themselves?
            </p>
            <p>
                I got in touch with charity data guru, David Kane... and after four years of hard work, countless
                 meetings and so, so much coffee, Charizone was born. It's expanding exponentially day-by-day;
                  connecting charities and philanthropists, and making the world a better place - and we're so
                excited to see what comes next.
            </p>
        </div>
    </div>
</section>
<section class="bg-purple color-white">
    <div class="container grid">
        <figure class="column-span-8 column-offset-3 tc mb0">
            <blockquote class="mb4">
                "Individuals in the UK give more than &pound;10 billion every year and yet there are surprisingly few
                 resources out there to support us in our philanthropic giving. Charizone is here to change that."</blockquote>
            <a href="#" class="btn bg-governance color-white">View our methodology</a>
        </figure>
    </div>
</section>
<section class="container ">
    <div class="grid">
        <div class="column-span-12">
            <h2>What we're here to achieve</h2>
            <p> - David Kane, CTO</p>
        </div>
        <div class="column-span-6">
            <p>
                Together, Sarah and I reflected on the fact that we live in the day and age where we have the technology,
                the knowledge, and the resources to solve the world's greatest challenges. But, as a society, we aren't
                allocating those resources effectively.
            </p>
            <p>
                Data and information isn't not always available; sometimes it's too hard to find, other times it's
                difficult to understand or scattered across various sources.
            </p>
            <p>
                In order to truly change the world, we realised we needed to first transform the sector with data.
                We've worked closely with experts in the charity sector who brought their experience and passion to
                guide our analysis.
            </p>
            <p>
                We are aware that starting something completely new is difficult, but our combined skill set is 
                fundamental and the time is right: we are taking about "impact" now more than ever. Younger donors 
                especially are more likely to look for information about charities' effectiveness and understand 
                that overhead ratios don't mean anything. 
            </p>
            <p>
                If we can help move even a small percentage of the &pound;10bn donated each year away from low-performing 
                non-profits to the most effective non-profits, we'll transform the sector and have an enormous impact. 
                Charizone: the zone for charity information and inspiration.
            </p>
        </div>
        <div class="column-span-5 column-offset-8">
            <img src="/static/images/Home_DonutGraphic.png" class="" alt="">
        </div>
    </div>
</section>
<section class="bg-governance color-white">
    <div class="container grid">
        <div class="column-span-12 tc">
            <h1 class="normal">We have four core values:</h1>
        </div>
    </div>
    <div class="container grid">
        <div class="column-span-3">
            <div class="box tc bg-white color-purple">
                <img src="/static/images/brain_small/Brain_Navy.svg" alt="">
                <h1>We genuinely care</h1>
                <p>We want to build a more generous world. We care about our team, our clients, the sector and our environment.
                We will do the right thing even if when it's hard. We want to leave a positive impact in everything we do.</p>
                <p> We love kindness.</p>
            </div>
        </div>
        <div class="column-span-3">
            <div class="box tc bg-white color-purple">
                <img src="/static/images/brain_small/Brain_Blue.svg" alt="">
                <h1>We constantly learn</h1>
                <p>We are always looking to improve. We do this by understanding others, listening openly to feedback and working 
                together for shared success. This is how we remain relevant, innovative and positive. </p>
                <p>We stay humble.</p>
            </div>
        </div>
        <div class="column-span-3">
            <div class="box tc bg-white color-purple">
                <img src="/static/images/brain_small/Brain_Coral.svg" alt="">
                <h1>We build<br>trust</h1>
                <p>We build trust through transparent and open, authentic communication. We want to boost collaboration. 
                We support, celebrate and invest in each other, working together to achieve the change we dream of.</p>
                <p> We win together.</p>
            </div>
        </div>
        <div class="column-span-3">
            <div class="box tc bg-white color-purple">
                <img src="/static/images/brain_small/Brain_Purple.svg" alt="">
                <h1 class="ph0" style="max-width: 100%;">We hold ourselves accountable</h1>
                <p>We understand how important our work is to our clients and to our charities - which is why everything we 
                do is based on diligent research. We work hard and rely on data to stay focused on our long-term vision. </p>
                <p>We are objective.</p>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="grid">
        <div class="column-span-12 tc">
            <h1 class="normal">Meet the team</h1>
        </div>
    </div>
    <div class="grid">
        <div class="column-span-4 column-offset-3">
            <div class="ph4">
                <img src="/static/images/Sarah_Square.png" class="mb3" alt="">
                <h2>Sarah Gammoh<br>Founder & CEO</h2>
                <hr>
                <p>Sarah draws from over 20 years' experience in the business sector; after starting her career in banking, 
                she transitioned into social and responsible finance in various roles as a business consultant working with 
                Impact FinTech, ESG and corporate governance and charities. She sits on the on the Board of Directors
                of the UK Sustainable Investment and Finance Association.
                </p>
                <p>
                Driven by passion and supported by a comprehensive and unique skill-set, Sarah now dedicates her work life 
                to evolving Charizone into an organisation like no other; supporting UK philanthropists and charities 
                to work together towards a better world.</p>
                <a href="#" class="btn bg-governance color-white centre mt3">Connect on LinkedIn</a>
            </div>
        </div>
        <div class="column-span-4">
            <div class="ph4">
                <img src="/static/images/David_Square.png" class="mb3" alt="">
                <h2>David Kane<br>CTO</h2>
                <hr>
                <p>With over 10 years' experience working with charity data (having worked for NCVO, CAST and the 
                Greater London Authority), David is now a Data Scientist and Researcher, specialising in data for, 
                by and about charities and wider civil society.
                </p>
                <p>
                His talents lie in turning messy, raw data into actionable intelligence - aimed at answering the 
                questions you're asking.
                </p>
                <p>
                David maintains the comprehensive database of registered charities and other organisations in the 
                UK that the Charizone framework is built upon - and would love to help you to access this data for your work.
                </p>
                <a href="#" class="btn bg-governance color-white centre mt3">Connect on LinkedIn</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}