{% extends "_base.html" %}

{% set images = [
    "/static/images/brain_small/Brain_Coral.svg",
    "/static/images/brain_small/Brain_Blue.svg",
    "/static/images/brain_small/Brain_Navy.svg",
    "/static/images/brain_small/Brain_Purple.svg",
    "/static/images/brain_small/Brain_Yellow.svg",
] %}

{% block content %}
<header class="hero {{ page.meta.colour|default('articles') }}">
    <div class="container grid">
        <div class="column-span-5 column-offset-2">
            <h1>
                Our latest<br> insights, articles<br>and opinion pieces.
            </h1>
        </div>
    </div>
</header>
<section class="container ">
    <div class="grid">
        {% for article in articles %}
        <div class="column-span-4">
            {% set article_index = loop.index0 %}
            {% include 'components/article-stub.html' %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}