{% extends "_base.html" %}

{% set images = [
    "/static/images/brain_small/Brain_Coral.svg",
    "/static/images/brain_small/Brain_Blue.svg",
    "/static/images/brain_small/Brain_Navy.svg",
    "/static/images/brain_small/Brain_Purple.svg",
    "/static/images/brain_small/Brain_Yellow.svg",
] %}

{% block content %}<section class="bg-swoosh">
    <div class="container grid">
        <h2 class="col-span-3 center">Resources</h2>
        {% for article in articles %}
        {% set article_index = loop.index0 %}
        {% include 'components/article-stub.html' %}
        {% endfor %}
    </div>
</section>
{% endblock %}