{% extends "_base.html" %}

{% set images = [
    "/static/images/brain_small/Brain_Coral.svg",
    "/static/images/brain_small/Brain_Blue.svg",
    "/static/images/brain_small/Brain_Navy.svg",
    "/static/images/brain_small/Brain_Purple.svg",
    "/static/images/brain_small/Brain_Yellow.svg",
] %}

{% block content %}
<header class="hero articles {{ page.meta.colour }}">
    <div class="r-background"></div>
    <div class="bubble">
        <h1>
            Our latest<br> insights, articles<br>and opinion pieces.
        </h1>
    </div>
</header>
<section class="container ">
    <div class="insightboxes">
        {% for article in articles %}
        {% set article_index = loop.index0 %}
        {% include 'components/article-stub.html' %}
        {% endfor %}
    </div>
</section>
{% endblock %}