{% extends "_base.html" %}

{% set images = [
    "/static/images/brain_small/Brain_Coral.svg",
    "/static/images/brain_small/Brain_Blue.svg",
    "/static/images/brain_small/Brain_Navy.svg",
    "/static/images/brain_small/Brain_Purple.svg",
    "/static/images/brain_small/Brain_Yellow.svg",
] %}

{% block content %}
{% include 'components/hero.html' %}
<section class="container ">
    <div class="grid">
        <div class="column-span-6 hide-mobile">
            <img src="/static/images/Home_CharityGraphic_sm.png" style="margin-left: -70px;" alt="Three images showing charity activities: medicine, the environment and training.">
        </div>
        <div class="column-span-6">
            <h2>Here's a question for you</h2>
            <p>
                Is it enough to support a charity based on "trust", or should we enhance our decision with data?
            </p>
            <p>
                Even though there are more charities than ever before, we often end up supporting the usual charities - 
                and struggle to find the new, lean and impactful organisations, who are often using novel ways
                to promote evolution within the sector.
            </p>
            <p>
                That's why we collate publicly-available charity data and insights into easily-digestible reports - 
                presenting a narrative to empower your decision to support charities that you really believe in. 
            </p>
            <p>
                By covering three key areas of a charity's performance (the impact of their work, their governance 
                and their finances) we're here to inspire the philanthropic community to use wealth for good, to 
                support charities that align with their values, and to work towards a better world.
            </p>
            <a href="{{ 'about'|url }}" class="btn bg-finance color-purple">Read more about our story</a>
        </div>
    </div>
</section>
<section class="bg-purple color-white">
    <div class="container grid">
        <figure class="column-span-8 column-offset-3 tc mv0">
            <blockquote class="mb4">"Large marketing campaigns, show-stopping events, and successful fund-raisers don't make a difference to our reports. Instead, our framework enables philanthropists, wealth managers, and other donors to make informed decisions - and be confident that their donation really is contributing to a better world."</blockquote>
            <figcaption class="mb4 i">- Sarah Gammah, Charizone Founder</figcaption>
            <a href="{{ 'our-methodology'|url }}" class="btn bg-governance color-white">View our methodology</a>
        </figure>
    </div>
</section>
<section class="container">
    <div class=" grid">
        <div class="column-span-12 tc">
            <h1>How we can help you</h1>
        </div>
    </div>
    <div class="grid">
        <div class="column-span-4 column-offset-3 mb3">
            <div class="box tc">
                <img src="/static/images/Home_Philanthropists.png" alt="">
                <h1>Philanthropists and Wealth Managers</h1>
                <p>Our reports condense a wide array of publicly available information into an easily-digestible format, enabling you to quickly compare different charities against your (or your client's) philanthropic strategy and values.</p>
                <p>These reports are designed to be used as an aid - to empower you to take your next steps with confidence.</p>
                <a href="{{ 'request-a-report'|url }}" class="btn bg-coral color-white">Get an example report</a>
            </div>
        </div>
        <div class="column-span-4 mb3">
            <div class="box tc">
                <img src="/static/images/Home_Charities.png" alt="">
                <h1>Charities</h1>
                <p>We care deeply about the good work that charities do. 
                Our vision is to build trust and legitimacy in the sector by promoting sector standards and improving 
                the data and reporting for all charities- regardless of their size.
                </p>
                <p>Want to find out more? Read more about our future plans.</p>
                <a href="{{ 'articles/2022-06-13-charizone-for-charities'|url }}" class="btn bg-coral color-white">Read about our work</a>
            </div>
        </div>
    </div>
</section>
<section class="big-grid pa0">
    <div class="column-span-4 bg-finance tc ph5 pv4">
        <h1 class="centre normal mb3">We love</h1>
        <img class="tc centre mb1" style="max-height: 120px;" src="/static/images/Home_TheBigGive.png" alt="The Big Give">
            {# <a href="#" class="btn bg-governance color-white centre mt4">Read more</a> #}
    </div>
    <div class="column-span-4 bg-light-grey tc ph5 pv4">
        <h1 class="centre normal mb3">We love</h1>
        <img class="tc centre mb1" style="max-height: 120px;" src="/static/images/ChampionsForChildren.png" alt="Champions for Children">
            <a href="{{ 'articles/2022-06-22-double-the-impact'|url }}" class="btn bg-governance color-white centre mt4">Read more</a>
    </div>
    <div class="column-span-4 bg-purple color-white tc ph5 pv4">
        <h1 class="centre normal mb3">We love</h1>
        <img class="tc centre mb1" style="max-height: 120px;" src="/static/images/Home_ChildhoodTrust.png" alt="The Childhood Trust">
            {# <a href="#" class="btn bg-governance color-white centre mt4">Read more</a> #}
    </div>
</section>
<section class="blue-brain bg-light-blue">
    <div class="container grid">
        <div class="column-span-8 column-offset-3 tc">
            <h1 class="centre">We're just getting started</h1>
            <p>With comprehensive reports on over 200 charities, we're off to a flying start. 
            But our work doesn't stop there. Want to request a report or recommend a charity?<br><a href="{{ 'contact-us'|url }}">Get in touch to recommend a charity</a>.</p>
            <p class="tc">
                <a href="{{ 'request-a-report'|url }}" class="btn bg-coral color-white centre mt5 mr4">Request a Report</a>
                <a href="{{ 'articles/2022-06-13-charizone-for-charities'|url }}" class="btn bg-purple color-white centre mt5">Read about our work</a>
            </p>
        </div>
    </div>
</section>
<section class="container">
    <div class=" grid">
        <div class="column-span-12 tc">
            <h1>Read our latest insights</h1>
        </div>
    </div>
    <div class="grid">
        {% for article in articles %}
        {% if loop.index <= 3 %}
        <div class="column-span-4">
            {% set article_index = loop.index0 %}
            {% include 'components/article-stub.html' %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}
