{% extends "_base.html" %}

{% block content %}
<header class="hero articles {{ page.meta.colour|default('navy') }}">
    <div class="r-background"></div>
    <div class="bubble">
        <h1>{{ page.meta.title or page.title }}</h1>
        {% if page.meta.author or page.meta.date %}
        <hr>
        <p class="author">
        {% if page.meta.author %}{{ page.meta.author }}{% endif %}
        {% if page.meta.author and page.meta.date %} &middot; {% endif %}
        {% if page.meta.date %}
        <time datetime="{{ page.meta.date }}">{{ "{:%d %b %Y}".format(page.meta.date) }}</time>
        {% endif %}
        </p>
        {% endif %}
    </div>
</header>
<section class="container">
    <div class="grid">
        <div class="column-span-10 column-offset-2 prose">
            {{ page.content }}
        </div>
    </div>
</section>
{% endblock %}