{% extends "_base.html" %}

{% set title = page.meta.title or page.title %}

{% block content %}
<section class="" style="{% if page.meta.articleimage %}--article-image: url({{ page.meta.articleimage }}){% endif %}">
    <div class="container article">
        <header class="flex-column center">
            <div class="flex-row w-100">
                <ul class="breadcrumbs tl">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/articles/">Resources</a>
                    </li>
                    <li title="{{ title|striptags }}">{{ title|striptags|truncate(32) }}</li>
                </ul>
                <p class="tr">
                    {% if page.meta.date %}
                    <time datetime="{{ page.meta.date }}">{{ "{:%d %b %Y}".format(page.meta.date) }}</time>
                    {% endif %}
                    {% if page.meta.author and page.meta.date %} | {% endif %}
                    {% if page.meta.author %}{{ page.meta.author }}{% endif %}
                </p>
            </div>
            <h2 class="h1 tc measure">{{ title }}</h2>
            {% if page.meta.lead %}
            <p class="lead tc measure">
                {{ page.meta.lead }}
            </p>
            {% endif %}
        </header>
        <div class="prose">
            {% if page.meta.articleimage %}
            <figure>
                <img src="{{ page.meta.articleimage }}" alt="{{ page.meta.articleimagealt }}">
            </figure>
            {% endif %}
            {{ page.content }}
        </div>
    </div>
</section>
{% endblock %}