{% extends "_base.html" %}

{% block headscripts %}
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}

{% block content %}
<section class="">
    <div class="container ">
        <h1 class="no-ligatures">Charizone</h1>
        <p class="lead">UK charity research, reworked</p>
        <p>Traditionally, charitable research has been time-consuming, difficult and inefficient.</p>
        <p>
            <strong>Not anymore.</strong>
        </p>
    </div>
    <div class="container grid">
        <div class="col-span-1 flex-column center">
            <h2 class="">Quick</h2>
            <p>
                This is the first time such comprehensive UK charity data has been
                available to search, filter and analyse from one place.
            </p>
        </div>
        <div class="col-span-1 flex-column center">
            <h2 class="">Reliable</h2>
            <p>
                We only pool data from official and regulated sources, so you can
                trust the information you see is correct and up-to-date.
            </p>
        </div>
        <div class="col-span-1 flex-column center">
            <h2 class="">Efficient</h2>
            <p>
                Say no to outdated Excel spreadsheets, long-winded Google searches and
                settling for ‘good enough’. This is your research workflow, redefined.
            </p>
        </div>
    </div>
</section>
<section>
    <div class="container " x-data="{ active: 0 }">
        <h2 class="">The journey</h2>
        <p>
            We’re here to help you throughout your giving journey, from initial
            research, to due diligence, to ongoing support and relationship building.
        </p>
        <nav class="tabs center">
            <ul class="bg-purple colour-complement">
                <li :class="(active === 0) && 'active bg-white colour-navy'">
                    <a class="" href="#" @click.prevent="active = 0">Search</a>
                </li>
                <li :class="(active === 1) && 'active bg-white colour-navy'">
                    <a class="" href="#" @click.prevent="active = 1">Shortlist</a>
                </li>
                <li :class="(active === 2) && 'active bg-white colour-navy'">
                    <a class="" href="#" @click.prevent="active = 2">Analyse</a>
                </li>
            </ul>
        </nav>
        <div class="steps">
            <div class="step" :style="{ display: active === 0 ? null : 'none' }">
                <figure>
                    <img src="/static/images/Placeholders/step-smart-search-image.png" class="rectangle-background"
                        alt="">
                </figure>
                <div>
                    <h3>Search</h3>
                    <p>
                        Use the dynamic smart search bar and pre-set filtering functionalities to quickly
                        create a refined list of charities that align with your specific criteria.
                    </p>
                </div>
            </div>
            <div class="step" :style="{ display: active === 1 ? null : 'none' }">
                <figure>
                    <img src="/static/images/Placeholders/step-portfolio-image.png" class="rectangle-background" alt="">
                </figure>
                <div>
                    <h3>Shortlist</h3>
                    <p>
                        Enhance your decision-making with data visualisation tools, offering centralised,
                        structured and comparable data points from 12 reliable sources.
                    </p>
                </div>
            </div>
            <div class="step" :style="{ display: active === 2 ? null : 'none' }">
                <figure>
                    <img src="/static/images/Placeholders/step-framework-image.png" class="rectangle-background" alt="">
                </figure>
                <div>
                    <h3>Analyse</h3>
                    <p>
                        Use comprehensive Performance Reports to add valuable insight, using our expert-led, in-depth
                        and
                        transparent analysis based on sector codes and conducts of best practice.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-swoosh">
    <div class="container ">
        <h2 class="">The features</h2>
        <p>
            Everything you need to do your research well. We’re small and agile; which means
            we’re constantly adding new tools, and building new features based on our users’ requests.
        </p>
        <a class="btn med bg-purple colour-complement">
            See our roadmap
            <span class="icon material-icons">arrow_forward</span>
        </a>
    </div>
    <div class="container grid grid-small">

        <div class="col-span-1 box shadow bg-white info">
            <strong class="flex-row left">
                <span
                    class="btn bg-jordan colour-complement icon material-icons no-hover no-cursor icon-spin">favorite</span>
                All in one place
            </strong>
            <p>
                100+ data points for every UK charity, across finance, governance and impact.
            </p>
            <p>
                <small>
                    All searchable, filterable and comparable. The only tool you need for charity research.
                </small>
            </p>
        </div>

        <div class="col-span-1 box shadow bg-white info">
            <strong class="flex-row left">
                <span
                    class="btn bg-jordan colour-complement icon material-icons no-hover no-cursor icon-spin">favorite</span>
                All in one place
            </strong>
            <p>
                100+ data points for every UK charity, across finance, governance and impact.
            </p>
            <p>
                <small>
                    All searchable, filterable and comparable. The only tool you need for charity research.
                </small>
            </p>
        </div>

        <div class="col-span-1 box shadow bg-white info">
            <strong class="flex-row left">
                <span
                    class="btn bg-jordan colour-complement icon material-icons no-hover no-cursor icon-spin">favorite</span>
                All in one place
            </strong>
            <p>
                100+ data points for every UK charity, across finance, governance and impact.
            </p>
            <p>
                <small>
                    All searchable, filterable and comparable. The only tool you need for charity research.
                </small>
            </p>
        </div>

        <div class="col-span-1 box shadow bg-white info">
            <strong class="flex-row left">
                <span
                    class="btn bg-jordan colour-complement icon material-icons no-hover no-cursor icon-spin">favorite</span>
                All in one place
            </strong>
            <p>
                100+ data points for every UK charity, across finance, governance and impact.
            </p>
            <p>
                <small>
                    All searchable, filterable and comparable. The only tool you need for charity research.
                </small>
            </p>
        </div>

        <div class="col-span-1 box shadow bg-white info">
            <strong class="flex-row left">
                <span
                    class="btn bg-jordan colour-complement icon material-icons no-hover no-cursor icon-spin">favorite</span>
                All in one place
            </strong>
            <p>
                100+ data points for every UK charity, across finance, governance and impact.
            </p>
            <p>
                <small>
                    All searchable, filterable and comparable. The only tool you need for charity research.
                </small>
            </p>
        </div>

        <div class="col-span-1 box shadow bg-white info">
            <strong class="flex-row left">
                <span
                    class="btn bg-jordan colour-complement icon material-icons no-hover no-cursor icon-spin">favorite</span>
                All in one place
            </strong>
            <p>
                100+ data points for every UK charity, across finance, governance and impact.
            </p>
            <p>
                <small>
                    All searchable, filterable and comparable. The only tool you need for charity research.
                </small>
            </p>
        </div>

        <div class="col-span-1 box shadow bg-white info">
            <strong class="flex-row left">
                <span
                    class="btn bg-jordan colour-complement icon material-icons no-hover no-cursor icon-spin">favorite</span>
                All in one place
            </strong>
            <p>
                100+ data points for every UK charity, across finance, governance and impact.
            </p>
            <p>
                <small>
                    All searchable, filterable and comparable. The only tool you need for charity research.
                </small>
            </p>
        </div>

        <div class="col-span-1 box shadow bg-white info">
            <strong class="flex-row left">
                <span
                    class="btn bg-jordan colour-complement icon material-icons no-hover no-cursor icon-spin">favorite</span>
                All in one place
            </strong>
            <p>
                100+ data points for every UK charity, across finance, governance and impact.
            </p>
            <p>
                <small>
                    All searchable, filterable and comparable. The only tool you need for charity research.
                </small>
            </p>
        </div>

        <div class="col-span-1 box shadow bg-white info">
            <strong class="flex-row left">
                <span
                    class="btn bg-jordan colour-complement icon material-icons no-hover no-cursor icon-spin">favorite</span>
                All in one place
            </strong>
            <p>
                100+ data points for every UK charity, across finance, governance and impact.
            </p>
            <p>
                <small>
                    All searchable, filterable and comparable. The only tool you need for charity research.
                </small>
            </p>
        </div>

        <div class="col-span-1 box shadow bg-white info">
            <strong class="flex-row left">
                <span
                    class="btn bg-jordan colour-complement icon material-icons no-hover no-cursor icon-spin">favorite</span>
                All in one place
            </strong>
            <p>
                100+ data points for every UK charity, across finance, governance and impact.
            </p>
            <p>
                <small>
                    All searchable, filterable and comparable. The only tool you need for charity research.
                </small>
            </p>
        </div>

        <div class="col-span-1 box shadow bg-white info">
            <strong class="flex-row left">
                <span
                    class="btn bg-jordan colour-complement icon material-icons no-hover no-cursor icon-spin">favorite</span>
                All in one place
            </strong>
            <p>
                100+ data points for every UK charity, across finance, governance and impact.
            </p>
            <p>
                <small>
                    All searchable, filterable and comparable. The only tool you need for charity research.
                </small>
            </p>
        </div>

        <div class="col-span-1 box shadow bg-white info">
            <strong class="flex-row left">
                <span
                    class="btn bg-jordan colour-complement icon material-icons no-hover no-cursor icon-spin">favorite</span>
                All in one place
            </strong>
            <p>
                100+ data points for every UK charity, across finance, governance and impact.
            </p>
            <p>
                <small>
                    All searchable, filterable and comparable. The only tool you need for charity research.
                </small>
            </p>
        </div>

    </div>
</section>
<section class="">
    <div class="container ">
        <h2 class="">The methodology</h2>
        <p>
            Learn about how we collect our data, the work that has gone into our Charity
            Performance reports, and how we’re building a platform designed to save you time.
        </p>
        <a class="btn med bg-purple colour-complement">
            View all resources
            <span class="icon material-icons">arrow_forward</span>
        </a>
    </div>
    <div class="container grid grid-small">
        <a href="#" class="box ring-mask colour-white col-span-half"
            style="background-color: var(--colour-navy-50); --mask-colour: var(--colour-navy);">
            <h4 class="h1 header-font colour-white no-underline">Charizone Framework Reports</h4>
            <p class="underline tr colour-white">Read our methodology</p>
        </a>
        <a href="#" class="box brain-mask left colour-white col-span-half"
            style="background-color: var(--colour-jordan-50); --mask-colour: var(--colour-jordan);">
            <h4 class="h1 header-font colour-white no-underline">Atlas: Your data hub</h4>
            <p class="underline tr colour-white">Read our methodology</p>
        </a>
    </div>
</section>
<section class="">
    <div class="container ">
        <h2 class="">Our offering</h2>
        <p>
            We offer Charizone solutions for teams of all sizes, and our affordable offering is made up of three
            core components. Talk to us to build a pricing package that works for you.
        </p>
        <a class="btn med bg-pink colour-complement">
            Contact us
            <span class="icon material-icons">arrow_forward</span>
        </a>
    </div>
    <div class="container grid grid-small">
        <div class="box shadow col-span-1 bg-white info">
            <h3>Subscription</h3>
            <p>
                Access to the Atlas platform, where you can search, filter, build
                portfolios and compare charity data points in a single user-friendly interface.
            </p>
            <div class="flex-row">
                <div>
                    <span class="btn bg-teal colour-complement icon material-icons no-hover no-cursor">check</span>
                </div>
                <p>The core way to streamline and update your workflow</p>
            </div>
            <div class="flex-row">
                <div>
                    <span class="btn bg-teal colour-complement icon material-icons no-hover no-cursor">check</span>
                </div>
                <p>Great for teams of all sizes, built for collaboration</p>
            </div>
            <div class="flex-row">
                <div>
                    <span class="btn bg-teal colour-complement icon material-icons no-hover no-cursor">check</span>
                </div>
                <p>Monthly and annual plans available</p>
            </div>
            <a href="#" class="btn bg-white colour-complement">
                <span class="icon material-icons circle bg-pink colour-white">arrow_forward</span>
                Contact us
            </a>
        </div>
        <div class="box shadow col-span-1 bg-white info">
            <h3>Subscription</h3>
            <p>
                Access to the Atlas platform, where you can search, filter, build
                portfolios and compare charity data points in a single user-friendly interface.
            </p>
            <div class="flex-row">
                <div>
                    <span class="btn bg-teal colour-complement icon material-icons no-hover no-cursor">check</span>
                </div>
                <p>The core way to streamline and update your workflow</p>
            </div>
            <div class="flex-row">
                <div>
                    <span class="btn bg-teal colour-complement icon material-icons no-hover no-cursor">check</span>
                </div>
                <p>Great for teams of all sizes, built for collaboration</p>
            </div>
            <div class="flex-row">
                <div>
                    <span class="btn bg-teal colour-complement icon material-icons no-hover no-cursor">check</span>
                </div>
                <p>Monthly and annual plans available</p>
            </div>
            <a href="#" class="btn bg-white colour-complement">
                <span class="icon material-icons circle bg-pink colour-white">arrow_forward</span>
                Contact us
            </a>
        </div>
        <div class="box shadow col-span-1 bg-white info">
            <h3>Subscription</h3>
            <p>
                Access to the Atlas platform, where you can search, filter, build
                portfolios and compare charity data points in a single user-friendly interface.
            </p>
            <div class="flex-row">
                <div>
                    <span class="btn bg-teal colour-complement icon material-icons no-hover no-cursor">check</span>
                </div>
                <p>The core way to streamline and update your workflow</p>
            </div>
            <div class="flex-row">
                <div>
                    <span class="btn bg-teal colour-complement icon material-icons no-hover no-cursor">check</span>
                </div>
                <p>Great for teams of all sizes, built for collaboration</p>
            </div>
            <div class="flex-row">
                <div>
                    <span class="btn bg-teal colour-complement icon material-icons no-hover no-cursor">check</span>
                </div>
                <p>Monthly and annual plans available</p>
            </div>
            <a href="#" class="btn bg-white colour-complement">
                <span class="icon material-icons circle bg-pink colour-white">arrow_forward</span>
                Contact us
            </a>
        </div>
    </div>
</section>
<section class="bg-navy-50 colour-complement bg-brain" style="--mask-colour: var(--colour-navy);">
    <div class="container hero">
        <h1 class="">Navigate over 177,000 UK charities and scale your impact.</h1>
        <div class="buttons">
            <a class="btn med bg-pink colour-complement">
                Book free trial
                <span class="icon material-icons">arrow_forward</span>
            </a>
            <a class="btn med colour-white b--white border">
                Book a demo
                <span class="icon material-icons">arrow_forward</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}