@charset "UTF-8";
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --purple-color: #121b39;
  --dark-purple-color: #3D3D59;
  --coral-color: #e8706d;
  --impact-color: #afd1e5;
  --governance-color: #7777a5;
  --finance-color: #f4e8a0;
  --negative-color: #e04f70;
  --moderate-color: #ffad42;
  --positive-color: #59d3a0;
  --grey-color: #f2f2f2;
  --mid-grey-color: #828282;
  --link-blue-color: #6891FF;
  --link-light-blue-color: #9BCCF4;
  --light-blue-color: #C9E3F9;
  --light-coral-color: #F6CDCC;
}

.color-white {
  color: var(--white-color);
}

.bg-white {
  background-color: var(--white-color);
}

.b--white {
  border-color: var(--white-color);
}

.color-black {
  color: var(--black-color);
}

.bg-black {
  background-color: var(--black-color);
}

.b--black {
  border-color: var(--black-color);
}

.color-purple {
  color: var(--purple-color);
}

.bg-purple {
  background-color: var(--purple-color);
}

.b--purple {
  border-color: var(--purple-color);
}

.color-dark-purple {
  color: var(--dark-purple-color);
}

.bg-dark-purple {
  background-color: var(--dark-purple-color);
}

.b--dark-purple {
  border-color: var(--dark-purple-color);
}

.color-coral {
  color: var(--coral-color);
}

.bg-coral {
  background-color: var(--coral-color);
}

.b--coral {
  border-color: var(--coral-color);
}

.color-impact {
  color: var(--impact-color);
}

.bg-impact {
  background-color: var(--impact-color);
}

.b--impact {
  border-color: var(--impact-color);
}

.color-governance {
  color: var(--governance-color);
}

.bg-governance {
  background-color: var(--governance-color);
}

.b--governance {
  border-color: var(--governance-color);
}

.color-finance {
  color: var(--finance-color);
}

.bg-finance {
  background-color: var(--finance-color);
}

.b--finance {
  border-color: var(--finance-color);
}

.color-negative {
  color: var(--negative-color);
}

.bg-negative {
  background-color: var(--negative-color);
}

.b--negative {
  border-color: var(--negative-color);
}

.color-moderate {
  color: var(--moderate-color);
}

.bg-moderate {
  background-color: var(--moderate-color);
}

.b--moderate {
  border-color: var(--moderate-color);
}

.color-positive {
  color: var(--positive-color);
}

.bg-positive {
  background-color: var(--positive-color);
}

.b--positive {
  border-color: var(--positive-color);
}

.color-grey {
  color: var(--grey-color);
}

.bg-grey {
  background-color: var(--grey-color);
}

.b--grey {
  border-color: var(--grey-color);
}

.color-mid-grey {
  color: var(--mid-grey-color);
}

.bg-mid-grey {
  background-color: var(--mid-grey-color);
}

.b--mid-grey {
  border-color: var(--mid-grey-color);
}

.color-link-blue {
  color: var(--link-blue-color);
}

.bg-link-blue {
  background-color: var(--link-blue-color);
}

.b--link-blue {
  border-color: var(--link-blue-color);
}

.color-link-light-blue {
  color: var(--link-light-blue-color);
}

.bg-link-light-blue {
  background-color: var(--link-light-blue-color);
}

.b--link-light-blue {
  border-color: var(--link-light-blue-color);
}

.color-light-blue {
  color: var(--light-blue-color);
}

.bg-light-blue {
  background-color: var(--light-blue-color);
}

.b--light-blue {
  border-color: var(--light-blue-color);
}

.color-light-coral {
  color: var(--light-coral-color);
}

.bg-light-coral {
  background-color: var(--light-coral-color);
}

.b--light-coral {
  border-color: var(--light-coral-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
figure,
ul,
ol {
  margin-bottom: 43px;
}

.container {
  margin: 0 30px;
}

@media (min-width: 768px) {
  .container {
    margin: 0 30px;
  }
}

@media (min-width: 1447px) {
  .container {
    margin: 0 auto;
    max-width: 1387px;
  }
}

.grid {
  display: grid;
  align-items: stretch;
  column-gap: 17px;
}

.big-grid {
  display: grid;
  column-gap: 0px;
}

hr {
  margin-bottom: 47px;
  width: 250px;
  border-top: 1px solid var(--purple-color);
  border-bottom: none;
}

@media screen and (min-width: 1447px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .big-grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .column-span-1 {
    grid-column-end: span 1;
  }
  .column-offset-1 {
    grid-column-start: 1;
  }
  .column-span-2 {
    grid-column-end: span 2;
  }
  .column-offset-2 {
    grid-column-start: 2;
  }
  .column-span-3 {
    grid-column-end: span 3;
  }
  .column-offset-3 {
    grid-column-start: 3;
  }
  .column-span-4 {
    grid-column-end: span 4;
  }
  .column-offset-4 {
    grid-column-start: 4;
  }
  .column-span-5 {
    grid-column-end: span 5;
  }
  .column-offset-5 {
    grid-column-start: 5;
  }
  .column-span-6 {
    grid-column-end: span 6;
  }
  .column-offset-6 {
    grid-column-start: 6;
  }
  .column-span-7 {
    grid-column-end: span 7;
  }
  .column-offset-7 {
    grid-column-start: 7;
  }
  .column-span-8 {
    grid-column-end: span 8;
  }
  .column-offset-8 {
    grid-column-start: 8;
  }
  .column-span-9 {
    grid-column-end: span 9;
  }
  .column-offset-9 {
    grid-column-start: 9;
  }
  .column-span-10 {
    grid-column-end: span 10;
  }
  .column-offset-10 {
    grid-column-start: 10;
  }
  .column-span-11 {
    grid-column-end: span 11;
  }
  .column-offset-11 {
    grid-column-start: 11;
  }
  .column-span-12 {
    grid-column-end: span 12;
  }
  .column-offset-12 {
    grid-column-start: 12;
  }
}

section {
  padding-top: 62px;
  padding-bottom: 62px;
}

.centre {
  margin-left: auto;
  margin-right: auto;
}

/* Variables */
:root {
  --spacing-none: 0;
  --spacing-extra-small: .25rem;
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
}

/*
   SPACING
   Docs: http://tachyons.io/docs/layout/spacing/
   An eight step powers of two scale ranging from 0 to 16rem.
   Base:
     p = padding
     m = margin
   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left
     0 = none
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/
.pa0 {
  padding: var(--spacing-none);
}

.pa1 {
  padding: var(--spacing-extra-small);
}

.pa2 {
  padding: var(--spacing-small);
}

.pa3 {
  padding: var(--spacing-medium);
}

.pa4 {
  padding: var(--spacing-large);
}

.pa5 {
  padding: var(--spacing-extra-large);
}

.pa6 {
  padding: var(--spacing-extra-extra-large);
}

.pa7 {
  padding: var(--spacing-extra-extra-extra-large);
}

.pl0 {
  padding-left: var(--spacing-none);
}

.pl1 {
  padding-left: var(--spacing-extra-small);
}

.pl2 {
  padding-left: var(--spacing-small);
}

.pl3 {
  padding-left: var(--spacing-medium);
}

.pl4 {
  padding-left: var(--spacing-large);
}

.pl5 {
  padding-left: var(--spacing-extra-large);
}

.pl6 {
  padding-left: var(--spacing-extra-extra-large);
}

.pl7 {
  padding-left: var(--spacing-extra-extra-extra-large);
}

.pr0 {
  padding-right: var(--spacing-none);
}

.pr1 {
  padding-right: var(--spacing-extra-small);
}

.pr2 {
  padding-right: var(--spacing-small);
}

.pr3 {
  padding-right: var(--spacing-medium);
}

.pr4 {
  padding-right: var(--spacing-large);
}

.pr5 {
  padding-right: var(--spacing-extra-large);
}

.pr6 {
  padding-right: var(--spacing-extra-extra-large);
}

.pr7 {
  padding-right: var(--spacing-extra-extra-extra-large);
}

.pb0 {
  padding-bottom: var(--spacing-none);
}

.pb1 {
  padding-bottom: var(--spacing-extra-small);
}

.pb2 {
  padding-bottom: var(--spacing-small);
}

.pb3 {
  padding-bottom: var(--spacing-medium);
}

.pb4 {
  padding-bottom: var(--spacing-large);
}

.pb5 {
  padding-bottom: var(--spacing-extra-large);
}

.pb6 {
  padding-bottom: var(--spacing-extra-extra-large);
}

.pb7 {
  padding-bottom: var(--spacing-extra-extra-extra-large);
}

.pt0 {
  padding-top: var(--spacing-none);
}

.pt1 {
  padding-top: var(--spacing-extra-small);
}

.pt2 {
  padding-top: var(--spacing-small);
}

.pt3 {
  padding-top: var(--spacing-medium);
}

.pt4 {
  padding-top: var(--spacing-large);
}

.pt5 {
  padding-top: var(--spacing-extra-large);
}

.pt6 {
  padding-top: var(--spacing-extra-extra-large);
}

.pt7 {
  padding-top: var(--spacing-extra-extra-extra-large);
}

.pv0 {
  padding-top: var(--spacing-none);
  padding-bottom: var(--spacing-none);
}

.pv1 {
  padding-top: var(--spacing-extra-small);
  padding-bottom: var(--spacing-extra-small);
}

.pv2 {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}

.pv3 {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}

.pv4 {
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
}

.pv5 {
  padding-top: var(--spacing-extra-large);
  padding-bottom: var(--spacing-extra-large);
}

.pv6 {
  padding-top: var(--spacing-extra-extra-large);
  padding-bottom: var(--spacing-extra-extra-large);
}

.pv7 {
  padding-top: var(--spacing-extra-extra-extra-large);
  padding-bottom: var(--spacing-extra-extra-extra-large);
}

.ph0 {
  padding-left: var(--spacing-none);
  padding-right: var(--spacing-none);
}

.ph1 {
  padding-left: var(--spacing-extra-small);
  padding-right: var(--spacing-extra-small);
}

.ph2 {
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}

.ph3 {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

.ph4 {
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
}

.ph5 {
  padding-left: var(--spacing-extra-large);
  padding-right: var(--spacing-extra-large);
}

.ph6 {
  padding-left: var(--spacing-extra-extra-large);
  padding-right: var(--spacing-extra-extra-large);
}

.ph7 {
  padding-left: var(--spacing-extra-extra-extra-large);
  padding-right: var(--spacing-extra-extra-extra-large);
}

.ma0 {
  margin: var(--spacing-none);
}

.ma1 {
  margin: var(--spacing-extra-small);
}

.ma2 {
  margin: var(--spacing-small);
}

.ma3 {
  margin: var(--spacing-medium);
}

.ma4 {
  margin: var(--spacing-large);
}

.ma5 {
  margin: var(--spacing-extra-large);
}

.ma6 {
  margin: var(--spacing-extra-extra-large);
}

.ma7 {
  margin: var(--spacing-extra-extra-extra-large);
}

.ml0 {
  margin-left: var(--spacing-none);
}

.ml1 {
  margin-left: var(--spacing-extra-small);
}

.ml2 {
  margin-left: var(--spacing-small);
}

.ml3 {
  margin-left: var(--spacing-medium);
}

.ml4 {
  margin-left: var(--spacing-large);
}

.ml5 {
  margin-left: var(--spacing-extra-large);
}

.ml6 {
  margin-left: var(--spacing-extra-extra-large);
}

.ml7 {
  margin-left: var(--spacing-extra-extra-extra-large);
}

.mr0 {
  margin-right: var(--spacing-none);
}

.mr1 {
  margin-right: var(--spacing-extra-small);
}

.mr2 {
  margin-right: var(--spacing-small);
}

.mr3 {
  margin-right: var(--spacing-medium);
}

.mr4 {
  margin-right: var(--spacing-large);
}

.mr5 {
  margin-right: var(--spacing-extra-large);
}

.mr6 {
  margin-right: var(--spacing-extra-extra-large);
}

.mr7 {
  margin-right: var(--spacing-extra-extra-extra-large);
}

.mb0 {
  margin-bottom: var(--spacing-none);
}

.mb1 {
  margin-bottom: var(--spacing-extra-small);
}

.mb2 {
  margin-bottom: var(--spacing-small);
}

.mb3 {
  margin-bottom: var(--spacing-medium);
}

.mb4 {
  margin-bottom: var(--spacing-large);
}

.mb5 {
  margin-bottom: var(--spacing-extra-large);
}

.mb6 {
  margin-bottom: var(--spacing-extra-extra-large);
}

.mb7 {
  margin-bottom: var(--spacing-extra-extra-extra-large);
}

.mt0 {
  margin-top: var(--spacing-none);
}

.mt1 {
  margin-top: var(--spacing-extra-small);
}

.mt2 {
  margin-top: var(--spacing-small);
}

.mt3 {
  margin-top: var(--spacing-medium);
}

.mt4 {
  margin-top: var(--spacing-large);
}

.mt5 {
  margin-top: var(--spacing-extra-large);
}

.mt6 {
  margin-top: var(--spacing-extra-extra-large);
}

.mt7 {
  margin-top: var(--spacing-extra-extra-extra-large);
}

.mv0 {
  margin-top: var(--spacing-none);
  margin-bottom: var(--spacing-none);
}

.mv1 {
  margin-top: var(--spacing-extra-small);
  margin-bottom: var(--spacing-extra-small);
}

.mv2 {
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

.mv3 {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}

.mv4 {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-large);
}

.mv5 {
  margin-top: var(--spacing-extra-large);
  margin-bottom: var(--spacing-extra-large);
}

.mv6 {
  margin-top: var(--spacing-extra-extra-large);
  margin-bottom: var(--spacing-extra-extra-large);
}

.mv7 {
  margin-top: var(--spacing-extra-extra-extra-large);
  margin-bottom: var(--spacing-extra-extra-extra-large);
}

.mh0 {
  margin-left: var(--spacing-none);
  margin-right: var(--spacing-none);
}

.mh1 {
  margin-left: var(--spacing-extra-small);
  margin-right: var(--spacing-extra-small);
}

.mh2 {
  margin-left: var(--spacing-small);
  margin-right: var(--spacing-small);
}

.mh3 {
  margin-left: var(--spacing-medium);
  margin-right: var(--spacing-medium);
}

.mh4 {
  margin-left: var(--spacing-large);
  margin-right: var(--spacing-large);
}

.mh5 {
  margin-left: var(--spacing-extra-large);
  margin-right: var(--spacing-extra-large);
}

.mh6 {
  margin-left: var(--spacing-extra-extra-large);
  margin-right: var(--spacing-extra-extra-large);
}

.mh7 {
  margin-left: var(--spacing-extra-extra-extra-large);
  margin-right: var(--spacing-extra-extra-extra-large);
}

@media (--breakpoint-not-small) {
  .pa0-ns {
    padding: var(--spacing-none);
  }
  .pa1-ns {
    padding: var(--spacing-extra-small);
  }
  .pa2-ns {
    padding: var(--spacing-small);
  }
  .pa3-ns {
    padding: var(--spacing-medium);
  }
  .pa4-ns {
    padding: var(--spacing-large);
  }
  .pa5-ns {
    padding: var(--spacing-extra-large);
  }
  .pa6-ns {
    padding: var(--spacing-extra-extra-large);
  }
  .pa7-ns {
    padding: var(--spacing-extra-extra-extra-large);
  }
  .pl0-ns {
    padding-left: var(--spacing-none);
  }
  .pl1-ns {
    padding-left: var(--spacing-extra-small);
  }
  .pl2-ns {
    padding-left: var(--spacing-small);
  }
  .pl3-ns {
    padding-left: var(--spacing-medium);
  }
  .pl4-ns {
    padding-left: var(--spacing-large);
  }
  .pl5-ns {
    padding-left: var(--spacing-extra-large);
  }
  .pl6-ns {
    padding-left: var(--spacing-extra-extra-large);
  }
  .pl7-ns {
    padding-left: var(--spacing-extra-extra-extra-large);
  }
  .pr0-ns {
    padding-right: var(--spacing-none);
  }
  .pr1-ns {
    padding-right: var(--spacing-extra-small);
  }
  .pr2-ns {
    padding-right: var(--spacing-small);
  }
  .pr3-ns {
    padding-right: var(--spacing-medium);
  }
  .pr4-ns {
    padding-right: var(--spacing-large);
  }
  .pr5-ns {
    padding-right: var(--spacing-extra-large);
  }
  .pr6-ns {
    padding-right: var(--spacing-extra-extra-large);
  }
  .pr7-ns {
    padding-right: var(--spacing-extra-extra-extra-large);
  }
  .pb0-ns {
    padding-bottom: var(--spacing-none);
  }
  .pb1-ns {
    padding-bottom: var(--spacing-extra-small);
  }
  .pb2-ns {
    padding-bottom: var(--spacing-small);
  }
  .pb3-ns {
    padding-bottom: var(--spacing-medium);
  }
  .pb4-ns {
    padding-bottom: var(--spacing-large);
  }
  .pb5-ns {
    padding-bottom: var(--spacing-extra-large);
  }
  .pb6-ns {
    padding-bottom: var(--spacing-extra-extra-large);
  }
  .pb7-ns {
    padding-bottom: var(--spacing-extra-extra-extra-large);
  }
  .pt0-ns {
    padding-top: var(--spacing-none);
  }
  .pt1-ns {
    padding-top: var(--spacing-extra-small);
  }
  .pt2-ns {
    padding-top: var(--spacing-small);
  }
  .pt3-ns {
    padding-top: var(--spacing-medium);
  }
  .pt4-ns {
    padding-top: var(--spacing-large);
  }
  .pt5-ns {
    padding-top: var(--spacing-extra-large);
  }
  .pt6-ns {
    padding-top: var(--spacing-extra-extra-large);
  }
  .pt7-ns {
    padding-top: var(--spacing-extra-extra-extra-large);
  }
  .pv0-ns {
    padding-top: var(--spacing-none);
    padding-bottom: var(--spacing-none);
  }
  .pv1-ns {
    padding-top: var(--spacing-extra-small);
    padding-bottom: var(--spacing-extra-small);
  }
  .pv2-ns {
    padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
  }
  .pv3-ns {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
  }
  .pv4-ns {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
  }
  .pv5-ns {
    padding-top: var(--spacing-extra-large);
    padding-bottom: var(--spacing-extra-large);
  }
  .pv6-ns {
    padding-top: var(--spacing-extra-extra-large);
    padding-bottom: var(--spacing-extra-extra-large);
  }
  .pv7-ns {
    padding-top: var(--spacing-extra-extra-extra-large);
    padding-bottom: var(--spacing-extra-extra-extra-large);
  }
  .ph0-ns {
    padding-left: var(--spacing-none);
    padding-right: var(--spacing-none);
  }
  .ph1-ns {
    padding-left: var(--spacing-extra-small);
    padding-right: var(--spacing-extra-small);
  }
  .ph2-ns {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
  }
  .ph3-ns {
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
  }
  .ph4-ns {
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
  }
  .ph5-ns {
    padding-left: var(--spacing-extra-large);
    padding-right: var(--spacing-extra-large);
  }
  .ph6-ns {
    padding-left: var(--spacing-extra-extra-large);
    padding-right: var(--spacing-extra-extra-large);
  }
  .ph7-ns {
    padding-left: var(--spacing-extra-extra-extra-large);
    padding-right: var(--spacing-extra-extra-extra-large);
  }
  .ma0-ns {
    margin: var(--spacing-none);
  }
  .ma1-ns {
    margin: var(--spacing-extra-small);
  }
  .ma2-ns {
    margin: var(--spacing-small);
  }
  .ma3-ns {
    margin: var(--spacing-medium);
  }
  .ma4-ns {
    margin: var(--spacing-large);
  }
  .ma5-ns {
    margin: var(--spacing-extra-large);
  }
  .ma6-ns {
    margin: var(--spacing-extra-extra-large);
  }
  .ma7-ns {
    margin: var(--spacing-extra-extra-extra-large);
  }
  .ml0-ns {
    margin-left: var(--spacing-none);
  }
  .ml1-ns {
    margin-left: var(--spacing-extra-small);
  }
  .ml2-ns {
    margin-left: var(--spacing-small);
  }
  .ml3-ns {
    margin-left: var(--spacing-medium);
  }
  .ml4-ns {
    margin-left: var(--spacing-large);
  }
  .ml5-ns {
    margin-left: var(--spacing-extra-large);
  }
  .ml6-ns {
    margin-left: var(--spacing-extra-extra-large);
  }
  .ml7-ns {
    margin-left: var(--spacing-extra-extra-extra-large);
  }
  .mr0-ns {
    margin-right: var(--spacing-none);
  }
  .mr1-ns {
    margin-right: var(--spacing-extra-small);
  }
  .mr2-ns {
    margin-right: var(--spacing-small);
  }
  .mr3-ns {
    margin-right: var(--spacing-medium);
  }
  .mr4-ns {
    margin-right: var(--spacing-large);
  }
  .mr5-ns {
    margin-right: var(--spacing-extra-large);
  }
  .mr6-ns {
    margin-right: var(--spacing-extra-extra-large);
  }
  .mr7-ns {
    margin-right: var(--spacing-extra-extra-extra-large);
  }
  .mb0-ns {
    margin-bottom: var(--spacing-none);
  }
  .mb1-ns {
    margin-bottom: var(--spacing-extra-small);
  }
  .mb2-ns {
    margin-bottom: var(--spacing-small);
  }
  .mb3-ns {
    margin-bottom: var(--spacing-medium);
  }
  .mb4-ns {
    margin-bottom: var(--spacing-large);
  }
  .mb5-ns {
    margin-bottom: var(--spacing-extra-large);
  }
  .mb6-ns {
    margin-bottom: var(--spacing-extra-extra-large);
  }
  .mb7-ns {
    margin-bottom: var(--spacing-extra-extra-extra-large);
  }
  .mt0-ns {
    margin-top: var(--spacing-none);
  }
  .mt1-ns {
    margin-top: var(--spacing-extra-small);
  }
  .mt2-ns {
    margin-top: var(--spacing-small);
  }
  .mt3-ns {
    margin-top: var(--spacing-medium);
  }
  .mt4-ns {
    margin-top: var(--spacing-large);
  }
  .mt5-ns {
    margin-top: var(--spacing-extra-large);
  }
  .mt6-ns {
    margin-top: var(--spacing-extra-extra-large);
  }
  .mt7-ns {
    margin-top: var(--spacing-extra-extra-extra-large);
  }
  .mv0-ns {
    margin-top: var(--spacing-none);
    margin-bottom: var(--spacing-none);
  }
  .mv1-ns {
    margin-top: var(--spacing-extra-small);
    margin-bottom: var(--spacing-extra-small);
  }
  .mv2-ns {
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
  }
  .mv3-ns {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
  }
  .mv4-ns {
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
  }
  .mv5-ns {
    margin-top: var(--spacing-extra-large);
    margin-bottom: var(--spacing-extra-large);
  }
  .mv6-ns {
    margin-top: var(--spacing-extra-extra-large);
    margin-bottom: var(--spacing-extra-extra-large);
  }
  .mv7-ns {
    margin-top: var(--spacing-extra-extra-extra-large);
    margin-bottom: var(--spacing-extra-extra-extra-large);
  }
  .mh0-ns {
    margin-left: var(--spacing-none);
    margin-right: var(--spacing-none);
  }
  .mh1-ns {
    margin-left: var(--spacing-extra-small);
    margin-right: var(--spacing-extra-small);
  }
  .mh2-ns {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }
  .mh3-ns {
    margin-left: var(--spacing-medium);
    margin-right: var(--spacing-medium);
  }
  .mh4-ns {
    margin-left: var(--spacing-large);
    margin-right: var(--spacing-large);
  }
  .mh5-ns {
    margin-left: var(--spacing-extra-large);
    margin-right: var(--spacing-extra-large);
  }
  .mh6-ns {
    margin-left: var(--spacing-extra-extra-large);
    margin-right: var(--spacing-extra-extra-large);
  }
  .mh7-ns {
    margin-left: var(--spacing-extra-extra-extra-large);
    margin-right: var(--spacing-extra-extra-extra-large);
  }
}

@media (--breakpoint-medium) {
  .pa0-m {
    padding: var(--spacing-none);
  }
  .pa1-m {
    padding: var(--spacing-extra-small);
  }
  .pa2-m {
    padding: var(--spacing-small);
  }
  .pa3-m {
    padding: var(--spacing-medium);
  }
  .pa4-m {
    padding: var(--spacing-large);
  }
  .pa5-m {
    padding: var(--spacing-extra-large);
  }
  .pa6-m {
    padding: var(--spacing-extra-extra-large);
  }
  .pa7-m {
    padding: var(--spacing-extra-extra-extra-large);
  }
  .pl0-m {
    padding-left: var(--spacing-none);
  }
  .pl1-m {
    padding-left: var(--spacing-extra-small);
  }
  .pl2-m {
    padding-left: var(--spacing-small);
  }
  .pl3-m {
    padding-left: var(--spacing-medium);
  }
  .pl4-m {
    padding-left: var(--spacing-large);
  }
  .pl5-m {
    padding-left: var(--spacing-extra-large);
  }
  .pl6-m {
    padding-left: var(--spacing-extra-extra-large);
  }
  .pl7-m {
    padding-left: var(--spacing-extra-extra-extra-large);
  }
  .pr0-m {
    padding-right: var(--spacing-none);
  }
  .pr1-m {
    padding-right: var(--spacing-extra-small);
  }
  .pr2-m {
    padding-right: var(--spacing-small);
  }
  .pr3-m {
    padding-right: var(--spacing-medium);
  }
  .pr4-m {
    padding-right: var(--spacing-large);
  }
  .pr5-m {
    padding-right: var(--spacing-extra-large);
  }
  .pr6-m {
    padding-right: var(--spacing-extra-extra-large);
  }
  .pr7-m {
    padding-right: var(--spacing-extra-extra-extra-large);
  }
  .pb0-m {
    padding-bottom: var(--spacing-none);
  }
  .pb1-m {
    padding-bottom: var(--spacing-extra-small);
  }
  .pb2-m {
    padding-bottom: var(--spacing-small);
  }
  .pb3-m {
    padding-bottom: var(--spacing-medium);
  }
  .pb4-m {
    padding-bottom: var(--spacing-large);
  }
  .pb5-m {
    padding-bottom: var(--spacing-extra-large);
  }
  .pb6-m {
    padding-bottom: var(--spacing-extra-extra-large);
  }
  .pb7-m {
    padding-bottom: var(--spacing-extra-extra-extra-large);
  }
  .pt0-m {
    padding-top: var(--spacing-none);
  }
  .pt1-m {
    padding-top: var(--spacing-extra-small);
  }
  .pt2-m {
    padding-top: var(--spacing-small);
  }
  .pt3-m {
    padding-top: var(--spacing-medium);
  }
  .pt4-m {
    padding-top: var(--spacing-large);
  }
  .pt5-m {
    padding-top: var(--spacing-extra-large);
  }
  .pt6-m {
    padding-top: var(--spacing-extra-extra-large);
  }
  .pt7-m {
    padding-top: var(--spacing-extra-extra-extra-large);
  }
  .pv0-m {
    padding-top: var(--spacing-none);
    padding-bottom: var(--spacing-none);
  }
  .pv1-m {
    padding-top: var(--spacing-extra-small);
    padding-bottom: var(--spacing-extra-small);
  }
  .pv2-m {
    padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
  }
  .pv3-m {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
  }
  .pv4-m {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
  }
  .pv5-m {
    padding-top: var(--spacing-extra-large);
    padding-bottom: var(--spacing-extra-large);
  }
  .pv6-m {
    padding-top: var(--spacing-extra-extra-large);
    padding-bottom: var(--spacing-extra-extra-large);
  }
  .pv7-m {
    padding-top: var(--spacing-extra-extra-extra-large);
    padding-bottom: var(--spacing-extra-extra-extra-large);
  }
  .ph0-m {
    padding-left: var(--spacing-none);
    padding-right: var(--spacing-none);
  }
  .ph1-m {
    padding-left: var(--spacing-extra-small);
    padding-right: var(--spacing-extra-small);
  }
  .ph2-m {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
  }
  .ph3-m {
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
  }
  .ph4-m {
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
  }
  .ph5-m {
    padding-left: var(--spacing-extra-large);
    padding-right: var(--spacing-extra-large);
  }
  .ph6-m {
    padding-left: var(--spacing-extra-extra-large);
    padding-right: var(--spacing-extra-extra-large);
  }
  .ph7-m {
    padding-left: var(--spacing-extra-extra-extra-large);
    padding-right: var(--spacing-extra-extra-extra-large);
  }
  .ma0-m {
    margin: var(--spacing-none);
  }
  .ma1-m {
    margin: var(--spacing-extra-small);
  }
  .ma2-m {
    margin: var(--spacing-small);
  }
  .ma3-m {
    margin: var(--spacing-medium);
  }
  .ma4-m {
    margin: var(--spacing-large);
  }
  .ma5-m {
    margin: var(--spacing-extra-large);
  }
  .ma6-m {
    margin: var(--spacing-extra-extra-large);
  }
  .ma7-m {
    margin: var(--spacing-extra-extra-extra-large);
  }
  .ml0-m {
    margin-left: var(--spacing-none);
  }
  .ml1-m {
    margin-left: var(--spacing-extra-small);
  }
  .ml2-m {
    margin-left: var(--spacing-small);
  }
  .ml3-m {
    margin-left: var(--spacing-medium);
  }
  .ml4-m {
    margin-left: var(--spacing-large);
  }
  .ml5-m {
    margin-left: var(--spacing-extra-large);
  }
  .ml6-m {
    margin-left: var(--spacing-extra-extra-large);
  }
  .ml7-m {
    margin-left: var(--spacing-extra-extra-extra-large);
  }
  .mr0-m {
    margin-right: var(--spacing-none);
  }
  .mr1-m {
    margin-right: var(--spacing-extra-small);
  }
  .mr2-m {
    margin-right: var(--spacing-small);
  }
  .mr3-m {
    margin-right: var(--spacing-medium);
  }
  .mr4-m {
    margin-right: var(--spacing-large);
  }
  .mr5-m {
    margin-right: var(--spacing-extra-large);
  }
  .mr6-m {
    margin-right: var(--spacing-extra-extra-large);
  }
  .mr7-m {
    margin-right: var(--spacing-extra-extra-extra-large);
  }
  .mb0-m {
    margin-bottom: var(--spacing-none);
  }
  .mb1-m {
    margin-bottom: var(--spacing-extra-small);
  }
  .mb2-m {
    margin-bottom: var(--spacing-small);
  }
  .mb3-m {
    margin-bottom: var(--spacing-medium);
  }
  .mb4-m {
    margin-bottom: var(--spacing-large);
  }
  .mb5-m {
    margin-bottom: var(--spacing-extra-large);
  }
  .mb6-m {
    margin-bottom: var(--spacing-extra-extra-large);
  }
  .mb7-m {
    margin-bottom: var(--spacing-extra-extra-extra-large);
  }
  .mt0-m {
    margin-top: var(--spacing-none);
  }
  .mt1-m {
    margin-top: var(--spacing-extra-small);
  }
  .mt2-m {
    margin-top: var(--spacing-small);
  }
  .mt3-m {
    margin-top: var(--spacing-medium);
  }
  .mt4-m {
    margin-top: var(--spacing-large);
  }
  .mt5-m {
    margin-top: var(--spacing-extra-large);
  }
  .mt6-m {
    margin-top: var(--spacing-extra-extra-large);
  }
  .mt7-m {
    margin-top: var(--spacing-extra-extra-extra-large);
  }
  .mv0-m {
    margin-top: var(--spacing-none);
    margin-bottom: var(--spacing-none);
  }
  .mv1-m {
    margin-top: var(--spacing-extra-small);
    margin-bottom: var(--spacing-extra-small);
  }
  .mv2-m {
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
  }
  .mv3-m {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
  }
  .mv4-m {
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
  }
  .mv5-m {
    margin-top: var(--spacing-extra-large);
    margin-bottom: var(--spacing-extra-large);
  }
  .mv6-m {
    margin-top: var(--spacing-extra-extra-large);
    margin-bottom: var(--spacing-extra-extra-large);
  }
  .mv7-m {
    margin-top: var(--spacing-extra-extra-extra-large);
    margin-bottom: var(--spacing-extra-extra-extra-large);
  }
  .mh0-m {
    margin-left: var(--spacing-none);
    margin-right: var(--spacing-none);
  }
  .mh1-m {
    margin-left: var(--spacing-extra-small);
    margin-right: var(--spacing-extra-small);
  }
  .mh2-m {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }
  .mh3-m {
    margin-left: var(--spacing-medium);
    margin-right: var(--spacing-medium);
  }
  .mh4-m {
    margin-left: var(--spacing-large);
    margin-right: var(--spacing-large);
  }
  .mh5-m {
    margin-left: var(--spacing-extra-large);
    margin-right: var(--spacing-extra-large);
  }
  .mh6-m {
    margin-left: var(--spacing-extra-extra-large);
    margin-right: var(--spacing-extra-extra-large);
  }
  .mh7-m {
    margin-left: var(--spacing-extra-extra-extra-large);
    margin-right: var(--spacing-extra-extra-extra-large);
  }
}

@media (--breakpoint-large) {
  .pa0-l {
    padding: var(--spacing-none);
  }
  .pa1-l {
    padding: var(--spacing-extra-small);
  }
  .pa2-l {
    padding: var(--spacing-small);
  }
  .pa3-l {
    padding: var(--spacing-medium);
  }
  .pa4-l {
    padding: var(--spacing-large);
  }
  .pa5-l {
    padding: var(--spacing-extra-large);
  }
  .pa6-l {
    padding: var(--spacing-extra-extra-large);
  }
  .pa7-l {
    padding: var(--spacing-extra-extra-extra-large);
  }
  .pl0-l {
    padding-left: var(--spacing-none);
  }
  .pl1-l {
    padding-left: var(--spacing-extra-small);
  }
  .pl2-l {
    padding-left: var(--spacing-small);
  }
  .pl3-l {
    padding-left: var(--spacing-medium);
  }
  .pl4-l {
    padding-left: var(--spacing-large);
  }
  .pl5-l {
    padding-left: var(--spacing-extra-large);
  }
  .pl6-l {
    padding-left: var(--spacing-extra-extra-large);
  }
  .pl7-l {
    padding-left: var(--spacing-extra-extra-extra-large);
  }
  .pr0-l {
    padding-right: var(--spacing-none);
  }
  .pr1-l {
    padding-right: var(--spacing-extra-small);
  }
  .pr2-l {
    padding-right: var(--spacing-small);
  }
  .pr3-l {
    padding-right: var(--spacing-medium);
  }
  .pr4-l {
    padding-right: var(--spacing-large);
  }
  .pr5-l {
    padding-right: var(--spacing-extra-large);
  }
  .pr6-l {
    padding-right: var(--spacing-extra-extra-large);
  }
  .pr7-l {
    padding-right: var(--spacing-extra-extra-extra-large);
  }
  .pb0-l {
    padding-bottom: var(--spacing-none);
  }
  .pb1-l {
    padding-bottom: var(--spacing-extra-small);
  }
  .pb2-l {
    padding-bottom: var(--spacing-small);
  }
  .pb3-l {
    padding-bottom: var(--spacing-medium);
  }
  .pb4-l {
    padding-bottom: var(--spacing-large);
  }
  .pb5-l {
    padding-bottom: var(--spacing-extra-large);
  }
  .pb6-l {
    padding-bottom: var(--spacing-extra-extra-large);
  }
  .pb7-l {
    padding-bottom: var(--spacing-extra-extra-extra-large);
  }
  .pt0-l {
    padding-top: var(--spacing-none);
  }
  .pt1-l {
    padding-top: var(--spacing-extra-small);
  }
  .pt2-l {
    padding-top: var(--spacing-small);
  }
  .pt3-l {
    padding-top: var(--spacing-medium);
  }
  .pt4-l {
    padding-top: var(--spacing-large);
  }
  .pt5-l {
    padding-top: var(--spacing-extra-large);
  }
  .pt6-l {
    padding-top: var(--spacing-extra-extra-large);
  }
  .pt7-l {
    padding-top: var(--spacing-extra-extra-extra-large);
  }
  .pv0-l {
    padding-top: var(--spacing-none);
    padding-bottom: var(--spacing-none);
  }
  .pv1-l {
    padding-top: var(--spacing-extra-small);
    padding-bottom: var(--spacing-extra-small);
  }
  .pv2-l {
    padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
  }
  .pv3-l {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
  }
  .pv4-l {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
  }
  .pv5-l {
    padding-top: var(--spacing-extra-large);
    padding-bottom: var(--spacing-extra-large);
  }
  .pv6-l {
    padding-top: var(--spacing-extra-extra-large);
    padding-bottom: var(--spacing-extra-extra-large);
  }
  .pv7-l {
    padding-top: var(--spacing-extra-extra-extra-large);
    padding-bottom: var(--spacing-extra-extra-extra-large);
  }
  .ph0-l {
    padding-left: var(--spacing-none);
    padding-right: var(--spacing-none);
  }
  .ph1-l {
    padding-left: var(--spacing-extra-small);
    padding-right: var(--spacing-extra-small);
  }
  .ph2-l {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
  }
  .ph3-l {
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
  }
  .ph4-l {
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
  }
  .ph5-l {
    padding-left: var(--spacing-extra-large);
    padding-right: var(--spacing-extra-large);
  }
  .ph6-l {
    padding-left: var(--spacing-extra-extra-large);
    padding-right: var(--spacing-extra-extra-large);
  }
  .ph7-l {
    padding-left: var(--spacing-extra-extra-extra-large);
    padding-right: var(--spacing-extra-extra-extra-large);
  }
  .ma0-l {
    margin: var(--spacing-none);
  }
  .ma1-l {
    margin: var(--spacing-extra-small);
  }
  .ma2-l {
    margin: var(--spacing-small);
  }
  .ma3-l {
    margin: var(--spacing-medium);
  }
  .ma4-l {
    margin: var(--spacing-large);
  }
  .ma5-l {
    margin: var(--spacing-extra-large);
  }
  .ma6-l {
    margin: var(--spacing-extra-extra-large);
  }
  .ma7-l {
    margin: var(--spacing-extra-extra-extra-large);
  }
  .ml0-l {
    margin-left: var(--spacing-none);
  }
  .ml1-l {
    margin-left: var(--spacing-extra-small);
  }
  .ml2-l {
    margin-left: var(--spacing-small);
  }
  .ml3-l {
    margin-left: var(--spacing-medium);
  }
  .ml4-l {
    margin-left: var(--spacing-large);
  }
  .ml5-l {
    margin-left: var(--spacing-extra-large);
  }
  .ml6-l {
    margin-left: var(--spacing-extra-extra-large);
  }
  .ml7-l {
    margin-left: var(--spacing-extra-extra-extra-large);
  }
  .mr0-l {
    margin-right: var(--spacing-none);
  }
  .mr1-l {
    margin-right: var(--spacing-extra-small);
  }
  .mr2-l {
    margin-right: var(--spacing-small);
  }
  .mr3-l {
    margin-right: var(--spacing-medium);
  }
  .mr4-l {
    margin-right: var(--spacing-large);
  }
  .mr5-l {
    margin-right: var(--spacing-extra-large);
  }
  .mr6-l {
    margin-right: var(--spacing-extra-extra-large);
  }
  .mr7-l {
    margin-right: var(--spacing-extra-extra-extra-large);
  }
  .mb0-l {
    margin-bottom: var(--spacing-none);
  }
  .mb1-l {
    margin-bottom: var(--spacing-extra-small);
  }
  .mb2-l {
    margin-bottom: var(--spacing-small);
  }
  .mb3-l {
    margin-bottom: var(--spacing-medium);
  }
  .mb4-l {
    margin-bottom: var(--spacing-large);
  }
  .mb5-l {
    margin-bottom: var(--spacing-extra-large);
  }
  .mb6-l {
    margin-bottom: var(--spacing-extra-extra-large);
  }
  .mb7-l {
    margin-bottom: var(--spacing-extra-extra-extra-large);
  }
  .mt0-l {
    margin-top: var(--spacing-none);
  }
  .mt1-l {
    margin-top: var(--spacing-extra-small);
  }
  .mt2-l {
    margin-top: var(--spacing-small);
  }
  .mt3-l {
    margin-top: var(--spacing-medium);
  }
  .mt4-l {
    margin-top: var(--spacing-large);
  }
  .mt5-l {
    margin-top: var(--spacing-extra-large);
  }
  .mt6-l {
    margin-top: var(--spacing-extra-extra-large);
  }
  .mt7-l {
    margin-top: var(--spacing-extra-extra-extra-large);
  }
  .mv0-l {
    margin-top: var(--spacing-none);
    margin-bottom: var(--spacing-none);
  }
  .mv1-l {
    margin-top: var(--spacing-extra-small);
    margin-bottom: var(--spacing-extra-small);
  }
  .mv2-l {
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
  }
  .mv3-l {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
  }
  .mv4-l {
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
  }
  .mv5-l {
    margin-top: var(--spacing-extra-large);
    margin-bottom: var(--spacing-extra-large);
  }
  .mv6-l {
    margin-top: var(--spacing-extra-extra-large);
    margin-bottom: var(--spacing-extra-extra-large);
  }
  .mv7-l {
    margin-top: var(--spacing-extra-extra-extra-large);
    margin-bottom: var(--spacing-extra-extra-extra-large);
  }
  .mh0-l {
    margin-left: var(--spacing-none);
    margin-right: var(--spacing-none);
  }
  .mh1-l {
    margin-left: var(--spacing-extra-small);
    margin-right: var(--spacing-extra-small);
  }
  .mh2-l {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }
  .mh3-l {
    margin-left: var(--spacing-medium);
    margin-right: var(--spacing-medium);
  }
  .mh4-l {
    margin-left: var(--spacing-large);
    margin-right: var(--spacing-large);
  }
  .mh5-l {
    margin-left: var(--spacing-extra-large);
    margin-right: var(--spacing-extra-large);
  }
  .mh6-l {
    margin-left: var(--spacing-extra-extra-large);
    margin-right: var(--spacing-extra-extra-large);
  }
  .mh7-l {
    margin-left: var(--spacing-extra-extra-extra-large);
    margin-right: var(--spacing-extra-extra-extra-large);
  }
}

@font-face {
  font-family: "GT Walsheim";
  font-weight: 700;
  font-style: normal;
  src: url(/static/fonts/GTWalsheim-Bold.eot?5f7c98922244dc7fe2a4161f58339ad9);
  src: url(/static/fonts/GTWalsheim-Bold.eot?5f7c98922244dc7fe2a4161f58339ad9) format("embedded-opentype"), url(/static/fonts/GTWalsheim-Bold.woff2?52a47f4b5cf7e5e9a7d8829822e9fa12) format("woff2"), url(/static/fonts/GTWalsheim-Bold.woff?bd38f30faa5d450859cafaf7115e53b5) format("woff"), url(/static/fonts/GTWalsheim-Bold.ttf?11f14a963526f2157cc51b9dfcb55c50) format("truetype"), url(/static/fonts/GTWalsheim-Bold.svg?14227b0b40d402e71d6d2d55d6904173) format("svg");
}

@font-face {
  font-family: "GT Walsheim";
  font-weight: 400;
  font-style: normal;
  src: url(/static/fonts/GTWalsheim.eot?b60c68723a2a2f0730a5c8d3a18bd8a4);
  src: url(/static/fonts/GTWalsheim.eot?b60c68723a2a2f0730a5c8d3a18bd8a4) format("embedded-opentype"), url(/static/fonts/GTWalsheim.woff2?983e399f05edfcf5a57ebfd08b35c378) format("woff2"), url(/static/fonts/GTWalsheim.woff?7574645cc3733c1f3dd0c17f230d4b5c) format("woff"), url(/static/fonts/GTWalsheim.ttf?d0f19696d0fb316cf04c0affeb524757) format("truetype"), url(/static/fonts/GTWalsheim.svg?dd90ef788deb99b3b40a8dad4d9713f2) format("svg");
}

@font-face {
  font-family: "GT Walsheim";
  font-weight: 300;
  font-style: normal;
  src: url(/static/fonts/GT-Walsheim-Light.woff2) format("woff2"), url(/static/fonts/GT-Walsheim-Light.woff) format("woff"), url(/static/fonts/GT-Walsheim-Light.ttf) format("truetype");
}

@font-face {
  font-family: "GT Walsheim";
  font-weight: 300;
  font-style: italic;
  src: url(/static/fonts/GT-Walsheim-Light-Oblique.woff2) format("woff2"), url(/static/fonts/GT-Walsheim-Light-Oblique.woff) format("woff"), url(/static/fonts/GT-Walsheim-Light-Oblique.ttf) format("truetype");
}

:root {
  --body-font: 'GT Walsheim', sans-serif;
  --heading-font: 'Playfair Display', serif;
  font-size: 16px;
}

html,
body,
.body-font {
  font-family: var(--body-font);
  font-size: 1.3rem;
  font-weight: 300;
}

h1,
h2,
h3,
.h1,
.h2,
.h3,
.heading-font {
  font-family: var(--heading-font);
}

h1,
.h1 {
  font-size: 3.25rem;
  line-height: 1.45;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 1.9rem;
  line-height: 1.45;
  font-weight: 400;
}

h3,
.h3 {
  font-size: 1.75rem;
  line-height: 1.54;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 1.56rem;
  line-height: 1.52;
  font-weight: 400;
}

small,
.small {
  font-size: 1.2rem;
}

a {
  color: #6891FF;
  text-decoration: underline;
}

.author {
  font-size: 1.563rem;
  font-style: italic;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.i {
  font-style: italic;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 14px 42px;
  border-radius: 31px;
  text-decoration: none;
  border: 0px;
}

.topbar {
  padding-top: 25px;
  padding-bottom: 32px;
}

.topbar > nav {
  text-align: right;
}

.topbar > nav > ul {
  list-style: none;
  margin-bottom: 0px;
}

.topbar > nav > ul > li {
  display: inline-block;
  margin-left: 43px;
}

.topbar > nav > ul > li.active > a {
  color: var(--coral-color);
  font-weight: bold;
}

.topbar > nav > ul > li > a {
  color: var(--purple-color);
  text-decoration: none;
  font-size: 1.125rem;
}

.topbar > nav > ul > li > a:hover {
  text-decoration: underline;
}

.topbar > nav > ul > li > a.btn {
  color: var(--white-color);
  border-radius: 24px;
  padding: 10px 21px;
}

.hero {
  background-image: url(/static/images/brain/Brain_Blue.svg);
  background-position: left 40px top 50%;
  background-repeat: no-repeat;
  padding-top: 108px;
  padding-bottom: 96px;
}

.hero.big {
  padding-top: 108px;
  padding-bottom: 96px;
}

.hero.blue {
  background-image: url(/static/images/brain/Brain_Blue.svg);
  background-color: #C9E3F9;
}

.hero.yellow {
  background-image: url(/static/images/brain/Brain_Yellow.svg);
  background-color: #f4e8a0;
}

.hero.navy {
  background-image: url(/static/images/brain/Brain_Navy.svg);
  background-color: #121b39;
  color: #FFFFFF;
}

.hero.navy hr {
  border-color: #F6CDCC;
}

.hero.navy .author {
  color: #F6CDCC;
}

.hero h1 {
  font-size: 3.25rem;
  line-height: 75px;
  margin-bottom: 47px;
}

.hero p {
  font-size: 31px;
  line-height: 45px;
  margin-bottom: 47px;
  font-family: var(--heading-font);
}

.hero p.author {
  font-size: 1.3rem;
  font-style: normal;
  font-family: var(--body-font);
  margin-bottom: 0px;
}

.hero hr {
  margin-bottom: 47px;
  width: 200px;
  border-top: 1px solid var(--purple-color);
  border-bottom: none;
}

.hero input {
  width: 100%;
  height: 61px;
  border-radius: 31px;
  border: 0px;
  padding: 0 20px;
  font-size: 21px;
  font-family: var(--body-font);
  font-weight: 300;
  line-height: 32px;
  color: var(--purple-color);
  background-color: var(--white-color);
  margin-bottom: 47px;
}

.hero .image-holder img {
  float: right;
}

.blue-brain {
  background-image: url(/static/images/brain/Brain_Blue.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.getintouch {
  background-image: url(/static/images/brain/Brain_Yellow.svg);
  background-position: left 40px top 50%;
  background-repeat: no-repeat;
  padding-top: 71px;
  padding-bottom: 65px;
}

.getintouch input,
.getintouch textarea {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 0px;
  padding: 12px 18px;
}

.getintouch input::placeholder,
.getintouch textarea::placeholder {
  color: #121b39;
  opacity: 0.8;
}

.getintouch input[required]::placeholder::after,
.getintouch textarea[required]::placeholder::after {
  content: "*";
}

.getintouch form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 17px;
  row-gap: 17px;
}

.getintouch form textarea {
  height: 227px;
}

.getintouch form .submit {
  text-align: right;
  padding-top: 17px;
}

@media screen and (min-width: 768px) {
  .getintouch form {
    grid-template-columns: 1fr 1fr;
  }
  .getintouch form textarea {
    grid-column: span 2;
  }
  .getintouch form .submit {
    grid-column: span 2;
  }
}

.box {
  box-shadow: 3px 3px 21px #00000029;
  border-radius: 28px;
  margin: 10px;
  padding: 23px 36px;
  height: 100%;
}

.box h1 {
  font-size: 28px;
  line-height: 43px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  margin-bottom: 27px;
  min-height: 5.4rem;
}

.box img {
  display: inline;
}

.insightbox {
  padding: 32px;
  display: block;
  text-decoration: none;
  color: inherit;
}

.insightbox a {
  text-decoration: none;
}

.insightbox img {
  max-height: 162px;
  width: 100%;
  object-fit: cover;
}

.insightbox h1 {
  font-size: 28px;
  line-height: 43px;
  text-decoration: none;
  color: var(--purple-color);
}

.insightbox > hr {
  margin-bottom: 47px;
  width: 200px;
  border-top: 1px solid var(--purple-color);
  border-bottom: none;
}

.prose > table {
  width: 100%;
}

.prose > table td,
.prose > table th {
  border: 2px solid #E8E8E8;
  padding: 20px;
  font-weight: normal;
}

.prose > table td .tr,
.prose > table th .tr {
  text-align: right;
}

.prose > table th {
  background-color: #f2f2f2;
  text-align: left;
}

.prose > figure > figcaption {
  background-color: #f2f2f2;
  color: #3D3D59;
  font-size: 1.3rem;
  padding: 12px 16px;
}

.prose > figure.quote {
  padding-left: 45px;
  border-left: 7px solid #121b39;
}

.prose > figure.quote > figcaption {
  margin-left: 107px;
  font-style: italic;
  padding: 0px;
  background-color: inherit;
}

.prose > figure.quote > blockquote::before {
  content: "“";
  font-family: var(--heading-font);
  color: #121b39;
  font-size: 160px;
  line-height: 1;
  margin-bottom: -50px;
  margin-left: -5px;
  display: block;
}

.prose ol,
.prose ul {
  padding-left: 72px;
}

.prose ol > li,
.prose ul > li {
  padding-left: 13px;
  margin-top: 30px;
}

.prose > ol > li::marker {
  font-weight: bold;
}

.prose > ol > li > ol {
  list-style-type: lower-alpha;
}

footer {
  padding-top: 56px;
  padding-bottom: 56px;
  font-size: 1.125rem;
  background-color: #121b39;
  color: #FFFFFF;
}

footer p {
  margin-bottom: 0px;
}

footer a {
  color: #9BCCF4;
  font-weight: bold;
}

footer nav {
  margin-top: 32px;
}

footer nav.social ul li {
  margin-right: 14px;
  min-width: 63px;
}

footer nav ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}

footer nav ul li {
  display: inline-block;
  margin-right: 26px;
  min-width: 176px;
}

footer nav ul li a {
  color: #FFFFFF;
  font-weight: 300;
}

.pagination {
  width: 100%;
}

.pagination > *:not(:first-child) {
  margin-left: 37px;
}

.pagination a {
  color: #3D3D59;
  font-weight: normal;
  text-decoration: none;
}

.pagination a:hover {
  text-decoration: underline;
}

.pagination ul {
  display: inline-block;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}

.pagination ul li {
  display: inline-block;
}

.pagination ul li.active > a {
  text-decoration: underline;
}

/* Media Queries */
@custom-media --breakpoint-not-small screen and (min-width: 30em);
@custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);
@custom-media --breakpoint-large screen and (min-width: 60em);
